<template>
<div>
    <!-- 導覽列 -->
    <div class="navbar" id="home">
        <div class="logo"></div>
        <a class="navHome" href="#home">Home</a>
        <a class="navGames" href="#game">Games</a>
        <a class="navAbout" href="#about">About</a>
        <a class="navContact" href="#comtact">Contact</a>
        <a class="navPlay" href="https://dev.u-show777.com/cash/ushowGuest">Play</a>
    </div>
    <!-- 介紹區 -->
    <div class="home" >
        <div class="homeLeft"></div>
        <div class="homeCenter">
            <homePicture></homePicture>
        </div>
        <div class="homeRight">
            <homeText :title="title" :content="content"></homeText>
        </div>
    </div>
    <!-- 消息區 -->
    <div class="news" id="game">
        <div class="newsName"></div>
        <!-- 保留:是否還要再修改? -->
        <marquee class="newsContext"> {{ latestNews }} </marquee>
    </div>
    <!-- 下方其他關於區 -->
    <div class="game" >
        <div class="gamesTitle"></div>
        <div class="gamesArea">
            <gamePicture></gamePicture>
        </div>
    </div>
    <div class="recruitVender"></div>
    <div class="about" id="about"></div>
    <div class="contact" id="comtact"></div>
    
</div>
</template>

<script>
import homePicture from './homePicture.vue'; //引入homePicture.vue的元件供此app做使用
import homeText from './homeText.vue'; //引入homeText.vue的元件供此app做使用
import gamePicture from './gamePicture.vue'; //引入gamePicture.vue的元件供此app做使用


const app = {
  el: '#ushowOfficialWebsite',
  data: {
    latestNews: '◆ 骰寶、大老二 正式上線',
    title: {
      picture_1: '雲端管理整合系統服務<br>Cloud Operation System Service',
      picture_2: '遊戲研發<br>Games Development',
      picture_3: '線上保單系統<br>Innovative Online Anti-Fraud System'
    },
    content: {
      picture_1:
        '輪盤、骰寶、百家樂<br>Rouiette,Sic BO,Baccarat<br><br>動物樂園、7PK、Slot、瑪莉檯遊戲<br>Animal Paradise,7PK,Slot,Bar Games<br><br>多廳遊戲，同時切換遊戲桌<br>Mulit-Gaming Room',
      picture_2:
        '所有產品雲端下載<br>All Games Online Download Directly<br><br>新遊戲開發無料供應<br>Free Upgrade of Games<br><br>完整後台管理系統<br>Back Office Management',
      picture_3:
        '保證遊戲結果無法變更或事先破解<br>Guarantee Impossible for Player or Casino to Cheat<br><br>適用輪盤、骰寶、百家樂<br>Roulette,Sin Bo,Baccarat Available'
    }
  },
  computed: {},
  methods: {}
};
export default app; //讓Background變成app提供其他js使用
</script>

<style lang='scss'>
@import '../CSS/utils.scss';

body {
  margin: 0px;
}

* {
  background-repeat: no-repeat;
  // background-size: cover;
}

.navbar {
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  height: convertPxToVw(100);
  background-image: url(./img/PAGE1_01.png);
  z-index: 100;

  > .logo {
    position: absolute;
    left: 15.5%; //22.5%;
    width: convertPxToVw(244);
    height: convertPxToVw(100);
    background-image: url(./img/PAGE1_02.png);
    background-size: cover;
  }

  > * {
    position: absolute;

    height: convertPxToVw(100);
    color: white;
    font-size: convertPxToVw(44);
    font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
    text-align: center;
    line-height: convertPxToVw(100);
    // background-color: rgba(255, 255, 255, 0.3);
  }

  > .navHome {
    left: 41%; //45%;
    width: convertPxToVw(135);
  }

  > .navGames {
    left: 50%; //55%;
    width: convertPxToVw(155);
  }

  > .navAbout {
    left: 60%; //65%;
    width: convertPxToVw(145);
  }

  > .navContact {
    left: 69%; //75%;
    width: convertPxToVw(180);
  }

  > .navPlay {
    left: 78%; //75%;
    width: convertPxToVw(180);
  }
}

.home {
  width: 100%;
  height: convertPxToVw(515);
  display: flex;

  > .homeLeft {
    width: convertPxToVw(371);
    height: convertPxToVw(515);
    background-image: url(./img/PAGE1_04.png);
    float: left;
  }

  > .homeCenter {
    width: convertPxToVw(492);
    height: convertPxToVw(515);
    background-image: url(./img/PAGE1_05.png);
    float: left;
  }

  > .homeRight {
    width: convertPxToVw(1057); //問題:這個有換設備的問題
    height: convertPxToVw(515);
    background-image: url(./img/PAGE1_06.png);
    float: left;
  }
}

.news {
  width: 100%;
  height: convertPxToVw(50);
  background-color: black;

  > .newsName {
    width: convertPxToVw(557);
    height: convertPxToVw(50);
    background-image: url(./img/PAGE1_07.png);
    background-size: cover;
    float: left;
  }

  > .newsContext {
    width: convertPxToVw(900);
    height: convertPxToVw(50);
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: convertPxToVw(20);
    font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
    // text-align: left;
    line-height: convertPxToVw(50);
    float: left;
  }
}

.game {
//   background-color: dimgray;
  background-color: rgba(0,0,0,0.85);
  width: 100%;
  height: convertPxToVw(700);

  > .gamesTitle {
    // position: absolute;
    // left: calc((100% - 153px) / 2);
    width: 100%;
    height: convertPxToVw(85);
    background-image: url(./img/Our_Games.png);
    // background-size: cover;
    background-position: 50% 50%;
  }

  > .gamesArea {
    position: relative;
    left: calc((100% - 80%) / 2);
    // background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    height: 75%;

   
  }
}

.recruitVender {
  width: 100%;
  height: convertPxToVw(400);
  background-image: url(./img/PAGE1_32.jpg);
  background-size: cover;
}

.about {
  width: 100%;
  height: convertPxToVw(400);
  background-image: url(./img/PAGE1_33.jpg);
  background-size: cover;
}

.contact {
  width: 100%;
  height: convertPxToVw(425);
  background-image: url(./img/PAGE1_34.jpg);
  background-size: cover;
}



</style>
