<template>   <!-- 遊戲區的圖 -->
<div >
  <ul class="slides">
    <!-- <li style="background:url('./img/PAGE1_12.png')  no-repeat"> -->
    <li>
      <!-- 問題:轉換設備的時候大小 不知道該如何好 -->
      <img src="img/PAGE1_12.png">
      <img src="img/PAGE1_14.png">
      <img src="img/PAGE1_16.png">
      <img src="img/PAGE1_18.png">
      <br><br>
      <img src="img/PAGE1_24.png">
      <img src="img/PAGE1_25.png">
      <img src="img/PAGE1_26.png">
      <img src="img/PAGE1_27.png">     
    </li>
    <li>
      <img src="img/PAGE1_28.png">         
    </li>
  </ul>
</div>
</template>

<script>
import Vue from 'vue'; //引入vue

const component = Vue.component('gamePicture', {
  props: ['title', 'content'], //將app檔案裡的值，接收回此組件
  computed: {},
  methods: {}
});
export default component;
</script>

<style lang='scss' scoped>
@import '../CSS/utils.scss';

.slides {
  > * {
    // width: convertPxToVw(244);
    // height: convertPxToVw(229);
    float: left;
  }
}

img {
  margin: 0% 1%;
  width: convertPxToVw(244);
  height: convertPxToVw(229);
}

img:nth-child(1) {
  margin-left: 15%;
}

img:nth-child(7) {
  margin-left: 15%;
}
</style>
