<template>   <!-- 最上方文字介紹 -->
<div class="texts">
    <div class="text">
      <div class="title" v-html="title.picture_1"></div>
      <div class="contents" v-html="content.picture_1"></div>
    </div>

    <div class="text">
      <div class="title" v-html="title.picture_2"></div>
      <div class="contents" v-html="content.picture_2"></div>
    </div>

    <div class="text">
      <div class="title" v-html="title.picture_3"></div>
      <div class="contents" v-html="content.picture_3"></div>
    </div>

</div>
</template>

<script>
import Vue from 'vue'; //引入vue

const component = Vue.component('homeText', {
  props: ['title', 'content'], //將app檔案裡的值，接收回此組件
  computed: {},
  methods: {}
});
export default component;
</script>

<style lang='scss' scoped>
@import '../CSS/utils.scss';

.texts {
  > * {
    position: absolute;
    left: 50%;
    width: convertPxToVw(800);
    height: convertPxToVw(515);
    background-position: 50% 50%;
    opacity: 0;
    filter: alpha(opacity=0);
    animation: round 12s linear infinite;
  }

  @-webkit-keyframes round {
    4% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 淡入*/
    }
    28% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
    }
    32% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 5-6秒淡出*/
    }
  }
  @keyframes round {
    4% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 淡入*/
    }
    28% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
    }
    32% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 5-6秒淡出*/
    }
  }

  .text:nth-child(3) {
    // -webkit-animation-delay: 10s;
    animation-delay: 8s;
  }

  .text:nth-child(2) {
    // -webkit-animation-delay: 5s;
    animation-delay: 4s;
  }

  .text:nth-child(1) {
    // -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .text {
    > .title {
      position: relative;
      top: 15%;
      left: 0%;
      color: sandybrown;
      font-size: convertPxToVw(40);
      font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
    }

    > .contents {
      position: relative;
      top: 20%;
      left: 2%;
      color: white;
      font-size: convertPxToVw(25);
      font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
    }
  }
}
</style>
