<template>   <!-- 最上方的圖 -->
<div class="pictures">
    <div class="picture_1"></div>
    <div class="picture_2"></div>
    <div class="picture_3"></div>

</div>
</template>

<script>
import Vue from 'vue'; //引入vue

const component = Vue.component('homePicture', {
  props: [], //將app檔案裡的值，接收回此組件
  computed: {},
  methods: {}
});
export default component;
</script>

<style lang='scss' scoped>
@import '../CSS/utils.scss';

.pictures {
  > * {
    position: absolute;
    width: convertPxToVw(492);
    height: convertPxToVw(515);
    background-position: 50% 50%;
    opacity: 0;
    filter: alpha(opacity=0);
    animation: round 12s linear infinite;
  }

  @-webkit-keyframes round {
    4% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 淡入*/
    }
    28% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
    }
    32% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 5-6秒淡出*/
    }
  }
  @keyframes round {
    4% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 淡入*/
    }
    28% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 1- 5秒靜止*/
    }
    32% {
      opacity: 0;
      filter: alpha(opacity=0);
      /* 5-6秒淡出*/
    }
  }

  div:nth-child(3) {
    // -webkit-animation-delay: 10s;
    animation-delay: 8s;
  }

  div:nth-child(2) {
    // -webkit-animation-delay: 5s;
    animation-delay: 4s;
  }

  div:nth-child(1) {
    // -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  > .picture_1 {
    background-image: url(./img/ushow01.png);
    background-size: contain;
  }

  > .picture_2 {
    background-image: url(./img/ushow02.png);
    background-size: contain;
  }

  > .picture_3 {
    background-image: url(./img/ushow03.png);
    background-size: contain;
  }
}
</style>
