@media screen and ( max-width: 991.98px ) {
    .anchorPoint:target{
        padding-top: 60px;
    }
    .container {
        grid-template-columns: repeat(3,1fr);
        // grid-template-rows: 60px auto 100px;
        // grid-column-gap: ;
    }
    .col-12 {
        grid-column: span 3;
    }
    .dsp-n {
        display: none;
    }


    #header {
        height: 60px;
        grid-template-columns: repeat(3,1fr);


        >#logo {
            height: 60px;
            grid-column: span 1;

        }

        >#nav-hambger {
            height: 60px;
            grid-column: 3;
        }
    }

    #top {
        grid-column: span 3;
        height: 60px;
    }

    #home {    
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        'center center center'
        'right right right';

    
        >#homeLeft {
            display: none;
    
        }
    
        >#homeCenter {
            // grid-column: span 1;
            height: 257.5px;
            grid-area: center;

            grid-template-columns: repeat(3,1fr);

            > * {
                width: 100%;
                height: 257.5px;
            }

            >#picture_1 {
                grid-column: span 3;
            }
    
            > #picture_2 {
                grid-column: span 3;
            }
          
            > #picture_3 {
                grid-column: span 3;
            }
        }
    
        >#homeRight {
            height: 257.5px;
            // grid-column: span 2;
            grid-area: right;

            grid-template-columns: repeat(3,1fr);
            font-size: 1.2rem;

            > * {
                left: 10%;
            }

            > a {
                grid-column: span 3;

                >span:nth-child(1) {
                    line-height: 30px;
                    font-size: 2rem;
                    color: sandybrown;
                }
            }
        }
    }

    #games {
        height: 430px;
        grid-column: span 3;

        grid-template-columns: 10% repeat(4,1fr) 10%;
        grid-template-rows: 70px auto;

        >#gameTitle {
            grid-column: 2/6;
            grid-row: 1;
        }
        
        >.mySlides {
            // height: 630px;
            grid-column: 2/4;
            grid-row: 2;

            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(4,1fr);
            grid-gap: 10px;
            grid-template-areas: 
            'img_1 img_2'
            'img_3 img_4'
            'img_5 img_6' 
            'img_7 img_8';
            z-index: -1;

            >img {
                width: 75%;
            }

        }

        >.rwdSlides {
            grid-column: 2/6;
            grid-row: 2;

            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1% repeat(2,1fr) 10%;
            grid-gap: 10px;
            align-items: center;

            >img {
                width: 100%;
                // grid-column: 2 ;
                // grid-row: 2;
            }

            >img:nth-child(1) {
                grid-column: 1;
                grid-row: 2;
            }

            >img:nth-child(2) {
                grid-column: 2;
                grid-row: 2;
            }

            >img:nth-child(3) {
                grid-column: 1;
                grid-row: 3;
            }

            >img:nth-child(4) {
                grid-column: 2;
                grid-row: 3;
            }

        }

        

        >buttom {
            font-size: 1.5rem;
            line-height: 300px;
        }

        >buttom:nth-child(1) {
            grid-column: 1/2;
            grid-row: 2;
            // text-align: right;
        }

        >buttom:nth-child(2) {
            grid-column: 6;
            grid-row: 2;
            // text-align: left;
        }
    }

    #news {
        grid-column: span 3;
        grid-template-columns: repeat(3,1fr) 10px;
    
        >#newsTitle {
            grid-column: span 1;
            text-align: center;
        }
    
        >#newsContext {
            grid-column: span 2;
        }
    
    }

    #recruitVender {
        height: 100px;
        grid-column: span 3;
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: 1;
        grid-template-areas:
        'text text text ';

        >#venderLogo {
            display: none;
        }
        
        >#nationalFlags {
            display: none;
        }

        >a {
            font-size: 2.5rem;
            line-height: 50px;

            >br {
                display: inline;
            }
            
            >span:nth-child(1) {
                color: bisque;
            }

            >span:nth-child(3) {
                font-size: 1.5rem;
            }
        
        }

    }

    #about {
        text-align: center;
        font-size: 1.5rem;

        >a {
            display: inline-block;
            margin: 0% 5%;
        }
        
        >a:nth-child(1) {
            font-size: 2.5rem;
            color: chocolate;
            line-height: 120px;
        }

    }

    #contact {
        height: 230px;
        font-size: 1.5rem;
        text-align: center;

        >a {
            display: inline-block;
            margin: 0% 5%;
        }

        >a:nth-child(1) {
            color: coral;
            font-size: 2.5rem;
            line-height: 110px;
        }
        >a:nth-child(3) {
            line-height: 35px;
        }
      
    }

    #footer {
        height: 70px;
        font-size: 1.3rem;
        line-height: 30px;

        >span:nth-child(1) {
            color: darkgray;
            font-size: 1rem;
        }

        >span:nth-child(3) {
            color: darkgray;
            font-size: 1rem;
        }
    }


    #hambgerSelect {
        display: inline-grid;
    }
}

@media (min-width: 449.98px) and (max-width: 991.98px) {

    #games {

        >.rwdSlides {
            align-items: center;

            >img {
                width: 75%;
                // grid-column: 2 ;
                // grid-row: 2;
            }
        }
    }

}

