@media screen and ( min-width: 992px ) {

    .container {
        grid-template-columns: repeat(12,1fr);
        // grid-template-rows: 100px auto;
    }

    #header {
        height: 100px;
        grid-template-columns: repeat(12,1fr);

        >#logo {
            height: 100px;
            grid-column: 2/4;
        }

        >#nav-hambger {
            display: none;
        }
    }

    #top {
        grid-column: span 12;
        height: 100px;
    }

    #home {
        grid-template-columns: repeat(12,1fr);
    
        >#homeCenter {
            height: 515px;
            grid-column: span 3;
            grid-template-columns: repeat(12,1fr);

            > * {
                width: 25%;
                height: 515px;
            }

            > #picture_1 {
                grid-column: span 12;
            }
    
            > #picture_2 {
                grid-column: span 12;
            }
          
            > #picture_3 {
                grid-column: span 12;
            }
        }
    
        >#homeRight {
            height: 515px;
            grid-column: span 7;  
            
            grid-template-columns: repeat(12,1fr);
            font-size: 2rem;

            > * {
                left: 50%;
            }

            > a {
                grid-column: 2/10;

                >span:nth-child(1) {
                    line-height: 70px;
                    font-size: 3rem;
                    color: sandybrown;
                }
            }

        }
    }

    #games {
        height: 700px;
        grid-column: span 12;

        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 70px repeat(2,1fr) 70px;
        grid-row-gap: 10px;

        >#gameTitle {
            grid-column: 6/8;
            grid-row: 1;
        }
        
        >.mySlides {
            // height: 700px;
            grid-column: 3/11;
            grid-row: 2/4;

            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-gap: 20px;
            grid-template-areas: 
            'img_1 img_2 img_3 img_4'
            'img_5 img_6 img_7 img_8';

            >img {
                width: 75%;
            }
        }

        >.rwdSlides {
            z-index: -1;
        }

        >buttom {
            font-size: 3rem;
            line-height: 500px;
        }

        >buttom:nth-child(1) {
            grid-column: 2/3;
            grid-row: 2/4;
        }

        >buttom:nth-child(2) {
            grid-column: 11/12;
            grid-row: 2/4;
        }


    }

    #news {
        height: 50px;
        grid-column: span 12;
        grid-template-columns: repeat(12,1fr);
    
        >#newsTitle {
            grid-column: span 4;
        }
    
        >#newsContext {
            grid-column: span 5;
        }
    
    }

    #recruitVender {
        height: 400px;
        grid-column: span 12;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        '. . . logo text text text text . . . .'
        '. . . . . flags flags flags . . . .';

        >a {
            font-size: 3.5rem;
            line-height: 200px;

            >br {
                display: none;
            }
            
            >span:nth-child(1) {
                color: bisque;
            }

            >span:nth-child(3) {
                font-size: 1.8rem;
            }
        }
    }

    #about {
        text-align: center;
        font-size: 2rem;
        
        >a:nth-child(1) {
            font-size: 3rem;
            color: chocolate;
            line-height: 160px;
        }

    }

    #contact {
        height: 312px;
        font-size: 2rem;
        text-align: center;

        >a:nth-child(1) {
            color: coral;
            font-size: 3rem;
            line-height: 150px;
        }
        >a:nth-child(3) {
            line-height: 50px;
        }
    }

    #footer {
        height: 100px;
        font-size: 2rem;
        line-height: 45px;

        >span:nth-child(1) {
            color: darkgray;
            font-size: 1.3rem;
        }

        >span:nth-child(3) {
            color: darkgray;
            font-size: 1.5rem;
        }
    }

}

#hambgerSelect {
    display: none;
}