
html {
    font-size: 12px;
}

body {
    margin: 0%;
}

.col-12 {
    grid-column: span 12;
}

.backgroundSet {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.anchorPoint:target{
    padding-top:100px;
}