

@function convertPxToVmax($value) {
    @return $value / 1920 * 100vmax;
}

@function convertPxToVmin($value) {
    @return $value / 1080 * 100vmin;
}

@function convertPxToVw($value) {
    @return  $value / 1920 * 100vw;
}