*{
    font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
}

.topnav a:hover {
    background-color: rgba(255,255,255,0.3);
    // color: black;。
}

.container {
    width: 100%;
    // height: 2000px;
    background-color: pink;
    
    display: grid;
    
    // grid-column-gap: 10px;
    // grid-template-areas: 
    // 'header header header' 
    // '. . .'
    // 'footer footer footer';
    
}


#header {
    position: fixed;
    width: 100%;
    background-image: url(./img/PAGE1_01.png);
    z-index: 100;

    display: grid;

    > * {
        height: 100px;
        color: white;
        font-size: 3rem;
        text-align: center;
        line-height: 100px;
    }

    >a {
        text-decoration:none;
    }

    >#logo {
        width: 100%;
        // height: 100px;
        background-image: url(./img/PAGE1_02.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    >#nav-home {
            grid-column: 7/8;
    }

    >#nav-hambger {
        background-image: url(./img/hamburgerBTN.png);
        background-repeat: no-repeat;
        background-position: right;
    }

}

#top {
    // grid-column: span 12;
    width: 100%;
    // height: 100px;
    background-color: black;
}

//這個部分RWD未處理
#home {
    width: 100%;
    height: 515px;

    display: grid;
    // grid-template-columns: repeat(12,1fr);

    >#homeLeft {
        width: 100%;
        height: 515px;
        background-image: url(./img/PAGE1_04.png);
        grid-column: span 2;

    }

    >#homeCenter {
        width: 100%;
        
        background-image: url(./img/PAGE1_05.png);
        // grid-column: span 3;
        // z-index: 1;

        display: grid;
    
        > * {
            position: absolute;
            // width: 25%;
            // height: 515px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            filter: alpha(opacity=0);
            animation: round 12s linear infinite;
        }

        @keyframes round {
            4% {
              opacity: 1;
              filter: alpha(opacity=100);
              /* 0 - 1秒 淡入*/
            }
            28% {
              opacity: 1;
              filter: alpha(opacity=100);
              /* 1- 5秒靜止*/
            }
            32% {
              opacity: 0;
              filter: alpha(opacity=0);
              /* 5-6秒淡出*/
            }
        }
      
        div:nth-child(3) {
            animation-delay: 8s;
      
        }
        div:nth-child(2) {
            animation-delay: 4s;
      
        }

        >#picture_1 {
            background-image: url(./img/ushow01.png); 
            // grid-column: span 12;
        }

        > #picture_2 {
            background-image: url(./img/ushow02.png);
            // grid-column: span 12;
        }
      
        > #picture_3 {
            background-image: url(./img/ushow03.png);
            // grid-column: span 12;
        }

    }

    >#homeRight {
        width: 100%;
        background-image: url(./img/PAGE1_06.png);

        color: white;
        display: grid;

        > * {
            position: absolute;
            // left: 50%;
            opacity: 0;
            filter: alpha(opacity=0);
            animation: round 12s linear infinite;
            font-family: Arial, "Microsoft JhengHei", Helvetica, sans-serif;
        }
        @keyframes round {
            4% {
              opacity: 1;
              filter: alpha(opacity=100);
              /* 0 - 1秒 淡入*/
            }
            28% {
              opacity: 1;
              filter: alpha(opacity=100);
              /* 1- 5秒靜止*/
            }
            32% {
              opacity: 0;
              filter: alpha(opacity=0);
              /* 5-6秒淡出*/
            }
        }
        
        >a:nth-child(3) {
            animation-delay: 8s;
        }
    
        >a:nth-child(2) {
            animation-delay: 4s;
        }
    
        >a:nth-child(1) {
            animation-delay: 0s;
        }

        
    }
}

#news {
    // width: 100%;
    height: 50px;
    background-color: black;
    // grid-column: span 12;
    display: grid;
    // grid-template-columns: repeat(12,1fr);

    >#newsTitle {
        height: 50px;
        background-color: #c70038;
        // grid-column: span 4;

        color: white;
        font-size: 1.8rem;
        text-align: right;
        line-height: 50px;
    }

    >#newsContext {
        height: 50px;
        background-color: rgba(255, 255, 255, 0.05);
        // grid-column: span 5;

        color: white;
        font-size: 1.8rem;
        line-height: 50px;
    }

}

#games {
    width: 100%;
    // height: 700px;
    background-color: black;
    // grid-column: span 12;

    display: grid;

    >#gameTitle {
        background-image: url(./img/Our_Games.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    @for $j from 1 through 2 {
        >buttom:nth-child(#{$j}) {
            text-align: center;
            color:white;
            grid-area: a_#{$j};
        }
    }
}

#recruitVender {
    width: 100%;
    height: 400px;
    background-image: url(./img/PAGE1_32.png);
    // grid-column: span 12;

    display: grid;

    >#venderLogo {
        width: 100%;
        height: 100%;
        background-image: url(./img/P32_1.png); 
        background-repeat: no-repeat;
        background-position: bottom;
        grid-area: logo;
    }

    >#nationalFlags {
        width: 100%;
        // background-color: aqua;
        grid-area: flags;
    
        > * {
          width: 66px;
          height: 66px;
          // background-size: cover;
          // background-repeat: no-repeat;
          float: left;
        }
    
        >#vietnam {
          background-image: url(./img/P32_4.png);
        }
        >#usa {
          background-image: url(./img/P32_2.png);
          margin: 0% 5%;
        }
        >#china{
          background-image: url(./img/P32_3.png);
        }
        >#taiwan {
          background-image: url(./img/P32_4.png5.png);
          margin: 0% 5%;
        }
    }

    >a {
        text-align: center;
        color: white;
        grid-area: text;
    }
}

#about {
    width: 100%;
    height: 400px;
    background-image: url(./img/rect876.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
}

#contact {
    width: 100%;
    background-color: white;
    color: gray;
}

#footer {
    width: 100%;
    background-color: black;

    color: white;
    text-align: center;
}


.mySlides {

    // background-color: #c70038;

    // width: 100%;
    // height: 700px;
    // display: grid;
    display: none;

    

    @for $i from 1 through 8 {
        >img:nth-child(#{$i}) {
            grid-area: img_#{$i};
        }
    }
}


.rwdSlides {
    display: none;
}

#hambgerSelect {
    position: fixed;
    top: 60px;
    width: 100vw;
    height: calc(40vh + 120px);
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-80vh);

    // display: grid;
    grid-template-rows: 10px repeat(5,1fr);
    grid-gap: 20px;
    // align-items: center;

    >a {
        display: block;
        text-decoration:none;
        color: white;
        font-size: 2rem;
        text-align: center;

        // grid-row: span 1;
    }

    >a:nth-child(1) {
        grid-row: 2;
    }
    >a:nth-child(2) {
        grid-row: 3;
    }
    >a:nth-child(3) {
        grid-row: 4;
    }
    >a:nth-child(4) {
        grid-row: 5;
    }
    >a:nth-child(5) {
        grid-row: 6;
    }
}