<!DOCTYPE html>
<html>

<head>
    <title>Ushow 預秀網路</title>
    <meta charset="utf8" />
    <meta name="keywords" content="ushow,預秀網路,客製化,代理商,遊戲" />
    <meta name="description" content="預秀網路是一間年輕的公司，目前我們的市場集中於北美與東南亞，提供雲端系統的吃角子遊戲，並提供一強大的後台，即時查詢每個玩家的狀態與需求服務，並也提供每個代理商，所想要的客製化功能。" />
    <meta name="copyright" content="USHOW SYSTEM INC" />
    <meta http-equiv="Content-Language" content="zh-TW" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body>
    <div class="container">
        <div id="header" class="col-12 backgroundSet topnav">
            <div id="logo"></div>
            <a id="nav-home" class="dsp-n" href="#top">Home</a>
            <a id="nav-game" class="dsp-n" href="#games">Games</a>
            <a id="nav-about" class="dsp-n" href="#about">About</a>
            <a id="nav-contact" class="dsp-n" href="#contact">Contact</a>
            <a id="nav-play" class="dsp-n" href="https://dev.u-show777.com/cash/ushowGuest">Play</a>
            <div id="nav-hambger"></div>
        </div>

        <div id="top"></div>

        <div id="home" class="col-12">
            <div id="homeLeft" class="backgroundSet dsp-n"></div>
            <div id="homeCenter" class="backgroundSet">
                <div id="picture_1"></div>
                <div id="picture_2"></div>
                <div id="picture_3"></div>
            </div>
            <div id="homeRight" class="backgroundSet"></div>
        </div>

        <div id="news">
            <div id="newsTitle"></div>
            <marquee id="newsContext"></marquee>
        </div>

        <div id="games" class="anchorPoint">
        
            <buttom id="prev">&#10094;</buttom>
            <buttom id="next">&#10095;</buttom>

            <div class="mySlides">
                <img src="img/PAGE1_12.png">
                <img src="img/PAGE1_14.png">
                <img src="img/PAGE1_16.png">
                <img src="img/PAGE1_18.png">
                <img src="img/PAGE1_24.png">
                <img src="img/PAGE1_25.png">
                <img src="img/PAGE1_26.png">
                <img src="img/PAGE1_27.png">
            </div>
            <div class="mySlides">
                <img src="img/PAGE1_28.png">
            </div>

            <div class="rwdSlides">
                <img src="img/PAGE1_12.png">
                <img src="img/PAGE1_14.png">
                <img src="img/PAGE1_16.png">
                <img src="img/PAGE1_18.png">
            </div>
            <div class="rwdSlides">
                <img src="img/PAGE1_24.png">
                <img src="img/PAGE1_25.png">
                <img src="img/PAGE1_26.png">
                <img src="img/PAGE1_27.png">
            </div>
            <div class="rwdSlides">
                <img src="img/PAGE1_28.png">
            </div>
        
            <div id="gameTitle"></div>

        </div>

        <div id="recruitVender" class="backgroundSet">
            <div id="venderLogo"></div>
            <div id="nationalFlags">
                <div id="vietnam"></div>
                <div id="usa"></div>
                <div id="china"></div>
                <div id="taiwan"></div>
            </div>
        </div>

        <div id="about" class="col-12 anchorPoint"></div>
        <div id="contact" class="col-12 anchorPoint"></div>
        <div id="footer" class="col-12"></div>
    </div>

    <div id="hambgerSelect">
        <a class="hambgerMenu" href="#top">Home</a>
        <a class="hambgerMenu" href="#games">Games</a>
        <a class="hambgerMenu" href="#about">About</a>
        <a class="hambgerMenu" href="#contact">Contact</a>  
        <a href="https://dev.u-show777.com/cash/ushowGuest">Play</a>  
    </div>

    <script src="./index.js"></script>
</body>

</html>